<html>
  <head>
    <title>Random images</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js">
    </script>
    <script src="app.js"></script>
  </head>
  <body ng-app="randomImage">
    <div ng-controller="InputController">
      <label>Lines:</label>
      <input pattern="\d*" type="number" ng-model="state.lines" 
        ng-change="validateInt('lines')">
      <label>Columns:</label> <input pattern="\d*" type="number" ng-model="state.columns"
        ng-change="validateInt('columns')">
      <br>
      <label>Variance:</label><input type="range" min="0" max="20" step="1" 
         ng-model="state.variance" ng-change="validateInt('variance')">
      {{state.variance}}
      <br/>
      <label>Random Chance:</label>
      <input pattern="[\d\.\+\*]*"  inputmode="numeric" type="number" ng-model="state.randomChance"
        ng-change="validateFloat('randomChance')">
      <br/>
      <label> Method </label>
      <select ng-model="state.method">
        <option ng-repeat="method in state.methods" value="{{method}}">{{method}}</option>
      </select>
      <button ng-click="start()">go</button>

      
    </div>
    <div ng-controller="CanvasController">
      <canvas id="canvas" height="{{state.lines}}" width="{{state.columns}}" style="background-color:black">
      </canvas>
    </div>
  </body>
</html>
